.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 40px 32px;
    color: white;
}

/* Скрываем скролл */
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar__search {
    margin-bottom: 40px;
    position: relative;
}

.sidebar__search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    color: white;
    background: transparent;
    border-bottom: 2px solid rgba(255,255,255,0.6);
}

.sidebar__sectionTitle {
    font-size: 17px;
    color: #d7d7d7;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.sidebar__condition {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 36px;
    text-transform: uppercase;
}

.sidebar__metrics {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.sidebar__metric {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.sidebar__metricValue {
    font-size: 18px;
}

.sidebar__metricIcon {
    width: 20px;
    opacity: .9;
}

.sidebar__divider {
    margin: 40px 0 32px;
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.3);
}

.sidebar__forecast {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar__forecastItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__forecastDay {
    font-weight: 600;
    width: 50px;
}

.sidebar__forecastTemp {
    font-weight: 500;
}

.citySuggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -25px;
    margin-bottom: 35px;
}

.citySuggestions__item {
    padding: 6px 12px;
    background: rgba(255,255,255,0.12);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: .2s ease;
}

.citySuggestions__item:hover {
    background: rgba(255,255,255,0.25);
}
